<?xml version="1.0" encoding="utf-8"?>
<!-- Example app manifest -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.splashcall.app">

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme">

        <service android:name="com.dyadical.capcallkeep.VoiceConnectionService" android:label="Wazo" android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>

        <service android:name="com.dyadical.capcallkeep.MessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- <service android:name="com.capacitorjs.plugins.pushnotifications.MessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.dyadical.capcallkeep.FORWARD_MESSAGING_EVENT" />
            </intent-filter>
        </service> -->

        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode" android:name="com.splashcall.app.MainActivity" android:label="@string/title_activity_main" android:theme="@style/AppTheme.NoActionBarLaunch" android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

    <!-- Permissions -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- calling stuff: -->
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <!--
	Needed only if your calling app reads numbers from the `PHONE_STATE`
	intent action. The maxSdkVersion attribute is needed only if your
	calling app uses the getLine1Number() or getMsisdn() methods.
	-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" android:maxSdkVersion="29" />
    <!--
	Needed only if your calling app uses the getLine1Number() or
	getMsisdn() methods.
	-->
    <uses-permission android:name="android.permissions.READ_PHONE_NUMBERS" />

</manifest>